{% extends '../base.html' %}
{% load static %}
{% block title %} Mystique Change Password {% endblock title %}

{% block content %}
    <style>
        .login-form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0.9, 0.1);
            background-color: #fff;
        }

        .login-form h3 {
            text-align: center;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .login-form input[type="text"]:hover,
        .login-form input[type="password"]:hover {
            border-color: #999;
        }

        .login-form .text-center {
            margin-bottom: 10px;
        }

        .login-form .text-center a {
            color: #000;
        }

        .login-form .text-right {
            margin-top: 5px;
        }

        .login-form button {
            width: 100%;
            padding: 10px;
            background-color: #693a1e;
            border: none;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .login-form button:hover {
            background-color: #8c5433;
        }
    </style>

    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                        <h3 class="text-center"style="color: #693a1e;">Change Your Password</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Contact Section Begin -->
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message.message }}</strong>
                    </div>
                    {% endfor %}
                  
                    <form class="login-form contact-form" novalidate method="POST">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col-lg-12 py-2">
                                {{ form.current_password }}
                                {{ form.current_password.errors }}
                            </div>
                            <div class="col-lg-12 py-2">
                                {{ form.new_password1 }}
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="col-lg-12 py-2">
                                {{ form.new_password2 }}
                                {{ form.new_password2.errors }}
                            </div>
                            <div class="col-lg-12 text-right">
                                <button class="btn-block" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->
{% endblock content %}
