{% extends '../base.html' %}
{% load static %}

{% block title %} Password Reset Done {% endblock title %}

{% block content %}


<section class="page-add">
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-md-12">
                <h4 class="text-monospace text-muted mb-4">Password Reset Link Sent!</h4>
                <hr>
            </div>  
            <div class="col-md-12">
                <p class="lead text-dark">
                    We have sent an email explaining instructions how to reset your password if an account exists with the email you entered. 
                    You should receive them shorty. 
                    If you don't receive a mail, then check if you have entered correct email address or check your spam folder. Thank You.
                </p>   
            </div>    
        </div>   
    </div>   
</section>    

{% endblock content %}