{% extends '../base.html' %}
{% load static %}

{% block title %} Mystique Registration {% endblock title %}

{% block content %}

<style>
    /* Custom CSS for signup form */
    .signup-form {
        max-width: 400px; /* Adjust the maximum width as desired */
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0.9, 0.1);
    }

    .signup-form h3 {
        text-align: center;
    }

    .signup-form input[type="text"],
    .signup-form input[type="email"],
    .signup-form input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .signup-form input[type="text"]:hover,
    .signup-form input[type="email"]:hover,
    .signup-form input[type="password"]:hover {
        border-color: #999;
    }

    .signup-form .text-center {
        margin-bottom: 10px;
    }

    .signup-form .text-center a {
        color: #000;
    }

    .signup-form .text-right {
        margin-top: 5px;
    }

    .signup-form button {
        width: 100%;
        padding: 10px;
        background-color: #693a1e;
        border: none;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .signup-form button:hover {
        background-color: #8c5433;
    }
</style>

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <h3 class="text-center" style="color: #693a1e;">Create Your Account</h3>
                
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">

                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message.message }}</strong>
                </div>
                {% endfor %}
                  
                <form class="contact-form signup-form" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row">
                       
                        <div class="col-lg-12 py-2">
                            <input name="username" type="text" placeholder="Enter username">
                            {{form.username.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            <input name="email" type="email" placeholder="Enter email">
                            {{form.email.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            <input name="password" type="password" placeholder="Enter password">
                            {{form.password.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            <input name="password2" type="password" placeholder="Confirm password">
                            {{form.password2.errors}}
                        </div>

                            <div class="col-lg-12 text-right">
                                <button class="btn-block" type="submit">Register</button>
                            </div>
                            <div class="col-lg-12 my-3 text-center">
                                <p>
                                    Already have an account? 
                                    <strong class="ml-2">
                                        <a class="text-decoration-none text-dark" href="{% url 'login' %}">Login</a>
                                    </strong>here
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section End -->   
{% endblock content %}